@model LoginApp.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login details</title>
    
</head>
<body>
    <div id="login-div"> 
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td></td>
                        <td>Wisdom Login Ltd</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.UserName)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(Model => Model.Password)</td>
                        <td>@Html.EditorFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field.validation.error">
                                @Html.DisplayFor(model => model.LoginErrorMessage)
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="name" value="Login" />
                            <input type="reset" name="name" value="Clear" />
                        </td>
                    </tr>

                </table>
            }
    </div>
</body>
</html>
